global
    daemon

defaults
    mode http
    timeout connect {{ load_balancer_connect_timeout }}
    timeout client {{ load_balancer_client_timeout }}
    timeout server {{ load_balancer_server_timeout }}

frontend http_front
    bind *:{{ load_balancer_port }}
    default_backend web_back

backend web_back
    balance roundrobin
{% for host in groups['web_servers'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ web_server_port }} check
{% endfor %}